<%= form_with(model: tank_profile, local: true) do |form| %>
  <% if tank_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tank_profile.errors.count, "error") %> prohibited this tank_profile from being saved:</h2>

      <ul>
      <% tank_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="field">
		<%= form.label :profile_name %><br />
		<%= form.text_field :profile_name %>
	</div>
	<div class="field">
		<%= form.label :display %><br />
		<%= form.text_field :display %>
	</div>
	<div class="field">
		<%= form.label :stand %><br />
		<%= form.text_field :stand %>
	</div>
	<div class="field">
		<%= form.label :sump %><br />
		<%= form.text_field :sump %>
	</div>
	<div class="field">
		<%= form.label :lighting %><br />
		<%= form.text_field :lighting %>
	</div>
	<div class="field">
		<%= form.label :filtration %><br />
		<%= form.text_field :filtration %>
	</div>
	<div class="field">
		<%= form.label :return_pump %><br />
		<%= form.text_field :return_pump %>
	</div>
	<div class="field"> 
		<%= form.label :water_cirrculation %><br />
		<%= form.text_field :water_cirrculation %>
	</div>
	<div class="field">
		<%= form.label :calcium_reactor %><br />
		<%= form.text_field :calcium_reactor %>
	</div>
	<div class="field">
		<%= form.label :auto_top_off %><br />
		<%= form.text_field :auto_top_off %>
	</div>
	<div class="field">
		<%= form.label :heating_and_cooling %><br />
		<%= form.text_field :heating_and_cooling %>
	</div>
	<div class="field">
		<%= form.label :other_equipment %><br />
		<%= form.text_field :other_equipment %>
	</div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
