
<h4><%= @tank_profile.profile_name %></h4>

<table class="striped">
        <tbody>
          <tr>
            <th>Display</th>
            <td><%= @tank_profile.display %></td>
          </tr>
          <tr>
            <th>Stand</th>
            <td><%= @tank_profile.stand %></td>
          </tr>
          <tr>
 						<th>Sump</th>
            <td><%= @tank_profile.sump %></td>
          </tr>
					<tr>
 						<th>Lighting</th>
            <td><%= @tank_profile.lighting %></td>
          </tr>
					<tr>
 						<th>Filtration</th>
            <td><%= @tank_profile.display %></td>
          </tr>
					<tr>
 						<th>Water Circulation</th>
            <td><%= @tank_profile.water_cirrculation   %></td>
          </tr>
					<tr>
 						<th>Calcium Reactor</th>
            <td><%= @tank_profile.calcium_reactor  %></td>
          </tr>
					<tr>
 						<th>Auto Top Off</th>
            <td><%= @tank_profile.auto_top_off %></td>
          </tr>
					<tr>
 						<th>Heating and Cooling</th>
            <td><%= @tank_profile.heating_and_cooling %></td>
          </tr>
					<tr>
 						<th>Other Equipment</th>
            <td><%= @tank_profile.other_equipment  %></td>
          </tr>
        </tbody>
      </table>

			<br>

<% if user_signed_in? and current_user.owns_assets?(@tank_profile)%>

		<h4>Add Images</h4>

		  <%= form_with(model: @photo, local: true) do |form| %>
    <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this @photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
      </div>
    <% end %>

    <%= form.hidden_field :tank_profile_id %>

    <div class="field">
      <%= form.label :photo_name %>
      <%= form.text_field :name %>
    </div>
  

	 <div class="field">
    <%= form.label :photo_tag %>
    <%= form.text_field :tag %>
  </div>


   <div class="field">
    <%= form.attachment_field :image, class: "btn waves-effect waves-light" %>
  </div>


  <br>


    <div class="actions">
      <%= form.submit "Add image", class: "btn waves-effect waves-light"  %>
    </div>
  
  
  <% end %>
<% end %>


<br>
<br>

  <%= link_to 'Back', tank_profiles_path, class:"waves-effect waves-teal btn-flat" %> |

<% if user_signed_in? and current_user.owns_assets?(@tank_profile)%>

	<%= link_to 'Edit', edit_tank_profile_path(@tank_profile), class: "waves-effect waves-teal btn-flat"%>

<% end %>
		
<br>
<br>

<div class="row">
  <% @tank_profile.photos.each do |photo| %> 
  
    <% if photo.image_id? %>
    
      <%= link_to(image_tag(attachment_url(photo, :image, :fit, 600, 600, format: 'jpg')), attachment_url(photo, :image, :fit, 500, 500, format: 'jpg'), data: { lightbox: "example-set", title: photo.name }) %>  
    
    
    <% end %>
   
  <% end %>
</div>  

 
